@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { 
    section#login{
        width: 80vw;
    }
    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;

    }
    div#formulario{
        float: right;
        width: 70%;
    }
    #formulario p{
        text-align: center;
        font-size: 0.9em;
        
        
    }
    #iemail,#isenha{
        height: 83%;
        width: 92%;       
    }
    section#login{
        height: 400px;
    }
}

@media screen and (min-width: 992px) {
    section#login{
        width: 950px;
        height: 500px;
    }
    div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    div#formulario{
        float: right;
        width: 50%;
    }
    #formulario p{
        text-align: center;
        font-size: 1em;      
    }
    #iemail,#isenha{
        
        height: 82%;
        width: 92%;   
    }
}